/******************************************************************
Site Name: johnevanofski.net
Author: John Evanofski

Stylesheet: 720px and Up

******************************************************************/
/**********************
TWEAKS
**********************/

html {
	font-size: 18px;
}


/*********************2
NAVIGATION STYLES
*********************/
header {
    
    height: 5em;

    .abovenav {
        z-index: 0;
    }
    
    .mobile-only { 
        display: none;
    }
    
    .logoWrap {
        display: inline-block;
        left: 2em;
        margin: 0;
    }
    
}

nav {

    @include transition(none);
    top: 0;
    
    &.off {
        height: auto;
        visibility: visible;
        opacity: 1;
        display: inline-block;
        top: 0 !important;
    }

	/* .menu is clearfixed inside mixins.scss */
	&.menu {
        
        position: absolute;
        z-index: 9;
        text-align: left;
        width: auto;
        background-color: rgba(0,0,0,0);
        margin: 0.9em 5.5em;
        
		ul {
			li {
                
                display: inline-block;
                padding: 0 0.5em;
                
                &.active {
                    background-color: $dark-grey;
                    
                     a { color: white; }
                }
                
				a {
					
                    font-size: 1.5rem;
                    
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
					
					}
				}
				
				&:first-child {}
				&:last-child {}
				
				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu {
					
                    li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */
			
			/* highlight current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */
    
}

/*********************
CONTENT & POSTS
*********************/

#home {

    .content {
        
        p {
            font-size: 1.2rem;
        }
        
        .nexus {

            ul {
                li {}
            }
        }
    }
    //.hello .h2 { top: 0; }
}
#design {
	
		.tagcloud {
			bottom: -1rem;
		}

    
    .banner {
        
        &:hover .bannerhover {
                width: 75%;
								cursor: s-resize;
            }
        
        .title {
						&:hover {
							cursor: pointer;
						}
            width: 25%;
            padding: 1%;
        }        
        
        .logo {

            background-color: white;
            width: 25%;
            padding: 1%;
            
            img {
                display: block;
                width: 100%;
            }
        }
        
        .taglist {
            display: block;
            position: absolute;
            bottom: 0;
            margin-left: 0.5em;
            
            ul {
                
                margin-bottom: 0;
                
                li {
                    
                    background-color: silver;
                    list-style: none;
                    display: inline-block;
                    padding: 0 0.5em;
                    position: relative;
                    
                    &:hover { top: 2px; background-color: white; }
                                    
                    a { 
                        color: $dark-grey;
                        text-decoration: none;
                        
                    }                
                }
            }
            
        }
        .bannerhover {
            
            position: absolute;
            display: block;
            right: 0; top: 0;
            width: 0;
            height: 100%;
            z-index: 9;
            @include transition(all, 0.5s);
        
        }
        
        .bannerimg {
            
            float: left;
            width: 75%;
            
            img {
                width: 100%;
            }
        }
        
        .toggle {
					color: white;
            
            &.info {
                display: block;
            }
        }
        
        .bannertext {
            
            left: 25%;
            width: 75%;
            
            &.active {
                .copy { padding: 2em 0 0 0; }
							
							&:hover {
								cursor: n-resize;
							}
            }
            
            h2.inner-title {
                display: none;
            }
					
					.close-message {
						display: none;
					}
        
        }
    }
} //end #design content

#resume {
    
    
    p {}
    
    .col { 
        &:not(:last-child) { border-bottom: none; }
    }
    
    .name {}
    
    .contact {
        
        width: 50%;
        
        p, .download { 
            text-align: right; 
            padding-right: 1em;
        }
        
    }
    
    .bio {}
    
    .skills {
        padding-left: 2em;
    }
    
    .exp {}
    
    .edu {
        padding-left: 2em;
    }
    
    .download {
    }   
    
} //end resume content

#photo {
    .photo-gallery {
        
        width: 100%;
        
        &:hover .info {
            transition-delay: 3s;
            opacity: 0;
        }
    }
    
    .rsArrow {
        z-index: 3;
    }

    .info {
                      
        visibility: visible;
        opacity: 1;
        position: absolute;
        display: block;
        z-index: 2;
        padding: 1em;
        text-shadow: 1px 1px 0 #000;
        @include transition(all 1s ease-in-out);
        
        p, h4 {
            position: relative;
        }
    }
}
#video {
    article {
        p {
            padding: 0.2em 1em;
        }
    }
}

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
